<link href="/assets/css/etudiant2.css" rel="stylesheet">

<div id="login">

    <div class="head">
        <% if (user != undefined && user.id == show.id) { %>
            <a href="/profile/" class="btn btn-success pull-right">Modifier</a>
        <% } %>
        <p> <%= show.firstName + ' ' + show.lastName %></p>
        <p><span class= "couleur">Email :</span> <%= show.mail %></p>
        <p><span class ="couleur">Promo :</span>  <%= show.promo %></p>
        <p><span class ="couleur">Majeur :</span>  <%= show.majeur %></p>
        <p><span class ="couleur">Association :</span></p>
        <div class="row">
            <ul>
                <% show.assos.forEach(function(asso){ %>
                <li>
                    <%= asso.name %>
                </li>
                <% }) %>
            </ul>
        </div>
    </div>

</div>